:root {
  --primary: #000100;
  --box: #1b1b1b;
  --green: #3ad34a;
  --light: white;
}

.navbar {
  display: flex;
}

body {
  background-color: var(--primary);
  font-family: "Open Sans", sans-serif;
  background-image: url("./ecohack.png");
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("./ecohack.png");
  width: 90%;
  margin-left: 10%;
  min-width: 260px;
  max-width: 1024px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  color: var(--green);
  font-size: 2.4em;
}

.container {
  margin-top: 5%;
}

.card {
  /* border-radius: 1%; */
  min-height: 25vh;
  background: none;
  padding: 30px;
  box-sizing: border-box;
  color: var(--light);
  margin: 20px;
  box-shadow: 0px 2px 18px -4px rgba(0, 0, 0, 0.75);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.card:hover {
  background: var(--green);
  color: var(--light);
  transform: scale(1.02);
}
.card-title {
  margin-top: 0;
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.logo img {
  margin-left: 10%;
  height: fit-content;
  width: 13rem;
}

img {
  height: 40%;
  width: auto;
}

.card-content {
  font-size: 1.4em;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.button {
  width: 20%;
  padding: 1% 3%;
  margin: 2% 0%;
  border: 1px solid var(--green);
  background-color: var(--box);
  color: var(--green);
  font-size: 120%;
  /* border-bottom-left-radius: 10%;
  border-top-right-radius: 10%; */
  /* border-radius: 0%; */
  transition: 0.4s;
  margin-left: 10%;
}

.button:hover {
  color: white;
  background-color: var(--green);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .logo img {
    /* flex: 0.2; */
    width: 70%;
    margin-right: 20px;
    margin-left: 0%;
  }

  .title {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .logo img {
    flex: 1;
  }
  .title {
    flex: 1;
  }
}
